.project {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.projectCaddy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 10px;
  width: 100%;
}

.projectCard {
  border-radius: 25px;
  padding: 25px;
  margin: 10px;
  height: 250px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.5);
  .overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    transition-duration: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
    }
  }
  &:hover {
    cursor: pointer;
    .overlay {
      opacity: 1;
    }
  }
  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
  }
}
